/* Add this CSS to your existing styles or create a new stylesheet */
.crewmate-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px; /* Adjust the padding as needed */
}

.crewmate-content {
  flex: 1; /* Allow the content to grow and take available space */
}

.crewmate-image {
  flex-shrink: 0; /* Prevent the image from growing and maintaining its size */
  margin-left: 20px; /* Adjust the margin as needed */
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots {
  text-align: left !important;
}

.slick-dots.slick-thumb {
  position: absolute;
  bottom: 94px;
  left: 20px;
}

.slick-dots.slick-thumb li {
  width: 15px;
  height: 15px;
  margin: 0 27px 0 0;
  border-radius: 100%;
  transition: opacity 0.5s ease-in-out;
  background-color: white;
  opacity: 0.25;
}

.slick-dots.slick-thumb li button::before {
  display: none;
}

.slick-dots.slick-thumb li:last-child {
  margin: 0 auto 0 0;
}

.slick-dots.slick-thumb li:hover {
  opacity: 1;
}

.slick-dots.slick-thumb li.slick-active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .slick-dots.slick-thumb {
    position: absolute;
    bottom: 512px;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center !important;
    width: auto;
    height: auto;
  }

  .slick-dots.slick-thumb li:last-child {
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  .slick-dots.slick-thumb {
    top: 255px;
  }
}
